body {
  margin: 0;
  font-family: sans-serif;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: white;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

/* HERO */
.hero {
  text-align: center;
  color: white;
  padding: 100px 20px;
  background: linear-gradient(135deg, #006da0, #4cbfa8);
}

.hero span {
  color: #d1ffdd;
}

.badge {
  background: rgba(255, 255, 255, 0.3);
  padding: 8px 20px;
  border-radius: 20px;
  font-size: 14px;
}

.btn-area button {
  margin: 10px;
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.btn-orange {
  background: #ff7e3d;
  color: white;
}

.btn-light {
  background: white;
  color: black;
}

.btn-primary {
  background: #003a80;
  padding: 10px 18px;
  color: white;
  border-radius: 6px;
}

.stats {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 40px;
}

.stats div {
  text-align: center;
}

@media (max-width: 650px) {
  .navbar {
    display: none;
  }
}
/* SECOND PAGE SECTION */

.why-choose-us {
  background: #f9fafb;
  padding: 90px 8%;
  text-align: center;
}

.section-tag {
  color: #2ec4b6;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.why-choose-us h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 15px;
}

.section-desc {
  max-width: 650px;
  margin: 0 auto 50px;
  color: #666;
  font-size: 16px;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
}

.feature-card {
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.06);
  transition: 0.3s ease;
}

.feature-card:hover {
  transform: translateY(-8px);
}

.icon {
  font-size: 32px;
  margin-bottom: 15px;
}

.feature-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.feature-card p {
  font-size: 14px;
  color: #666;
}