body {
  margin: 0;
  font-family: sans-serif;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: white;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

/* HERO */
.hero {
  text-align: center;
  color: white;
  padding: 100px 20px;
  background: linear-gradient(135deg, #006da0, #4cbfa8);
}

.hero span {
  color: #d1ffdd;
}

.badge {
  background: rgba(255, 255, 255, 0.3);
  padding: 8px 20px;
  border-radius: 20px;
  font-size: 14px;
}

.btn-area button {
  margin: 10px;
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.btn-orange {
  background: #ff7e3d;
  color: white;
}

.btn-light {
  background: white;
  color: black;
}

.btn-primary {
  background: #003a80;
  padding: 10px 18px;
  color: white;
  border-radius: 6px;
}

.stats {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 40px;
}

.stats div {
  text-align: center;
}

@media (max-width: 650px) {
  .navbar {
    display: none;
  }
}